h1{
text-align:center;
}
.box1{ 
  border:1px solid black;
  margin-bottom:10px;
  background-color:papayawhip;
}
.box2{ 
  border:1px solid black;
  margin-bottom:10px;
  background-color:skyblue;
}
.box3{ 
  border:1px solid black;
  margin-bottom:10px;
  background-color:lightgreen;;
}

h3{
  text-align:right;
}
span{
 background-color:pink;
}